/*
Name: Alexander Maynar
Class: COMP125(SEC.002)
Project: Assignment 2
*/

/*styling for the page background(which uses a background for it) and font-family*/
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #d5e139;
}

/*h2 styles*/
h2 {
    color: #464648;
}

/*style for the header/banner area*/
h1 {
    background-color: #464648;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    font-size: medium;
    color: black;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    font-size: 300%;
    color: #d5e139;
}

/*The label and input styling displays the number inputs 
and labels for the number inputs neatly*/
label {
    float: left;
    text-align: left;
    width: 16%;
    padding: .5%;
    font-size: large;
    color: #464648;
    font-weight: 800;
    margin-left: 20%;
    text-align: right;
}

/*Input styles work in conjunction with the label styles to 
position the inputs neatly*/
input {
    width: 30%;
    margin: .5%;
    margin-right: 30%;   
}

/*Positions image to the left*/
img {
    float: left;
}

/*p styling (this is for the error text)*/
p {
    padding: .5%;
    color: red;
    font-weight: 600;
    font-size: medium;
}

/*Footer styles, color and positioning*/
#footer {
    background-color: #464648;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    color: #d5e139;
}

/*normal button styling*/
#send, #clear {
    width: max-content;
    padding: 1%;
    margin: 2%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    background-color: grey;
}

/*button styling based on hover action*/
#send:hover, #clear:hover {
    width: max-content;
    padding: 1%;
    margin: 2%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    background-color: rgb(152, 149, 149);
}

/*button styling based on active action*/
#send:active, #clear:active {
    width: max-content;
    padding: 1%;
    margin: 2%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    background-color: rgb(72, 70, 70);;
}