<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <!-- Navigation Bar content from header.ejs file-->
        <header>           
            <%- include('components/header.ejs'); %>
        </header>
        <!-- Main content from either about.ejs, contact.ejs, 
            home.ejs, projects.ejs or services.ejs-->
        <main>
            <!-- loads from 'content/active_page_name.ejs' -->        
            <%- include('content/' + page + '.ejs'); %>
        </main>        
        <!-- Footer content from footer.ejs-->
        <footer>
            <%- include('components/footer.ejs'); %>
        </footer>  
    </body>
</html>