<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <!-- Navigation -->
        <header>           
            <%- include('components/header.ejs'); %>
        </header>
        <!-- Main -->
        <main>
            <!-- 'content/nameofthepage.ejs' -->        
            <%- include('content/' + page + '.ejs'); %>
        </main>        
        <!-- Footer -->
        <footer>
            <%- include('components/footer.ejs'); %>
        </footer>  
    </body>
</html>