<div class="container">
    <h1><%= title %></h1>
    <h2>Contact Information</h2>
    <ul>
        <li>Name: Alexander Maynard</li>
        <li>Phone Number: 204-712-6125</li>
        <li>Email: amaynar4@my.centennialcollege.ca</li>
        <li>Mail: Po Box 275, St.Malo, Manitoba, Canada</li>
    </ul>
</div>