<div class="container">
    <h2>Contact Information</h2>
    <ul>
        <li>Name: Alexander Maynard</li>
        <li>Phone Number: 204-712-6125</li>
        <li>Email: amaynar4@my.centennialcollege.ca</li>
        <li>Mail: Po Box 275, St.Malo, Manitoba, Canada</li>
    </ul>

    <form id="form">
        <div class="grid_container">
            <h2>Send Message and Contact Information:</h2><br><br>
            <!--Label and input field for firstname-->
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" tabindex="1"><br><br>
            <!--Placeholder to provide consistent spacing-->
            <p id="empty"></p><br>
            
            <!--Label and input field for lastname-->
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" tabindex="3"><br><br>
            <!--Placeholder to provide consistent spacing-->
            <p id="empty"></p><br>

            <!--Label and input field for address-->
            <label for="contact_number">Contact Number:</label>
            <input type="text" id="contact_number" name="contact_number" tabindex="5"><br><br>
            <!--Placeholder to provide consistent spacing-->
            <p id="number_error"></p><br>

            <!--Label and input field for email-->
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" tabindex="7"><br><br>
            <!--Text for potentital email entry errors. Initially set to ""-->
            <p id="email_error"></p><br>
            
            <!--Label and input field for email-->
            <label for="business_name">Business Name:</label>
            <input type="text" id="business_name" name="business_name" tabindex="9" ><br><br>
            <!--Text for potentital email entry errors. Initially set to ""-->
            <p id="empty"></p><br>

            <!--Label and input field for city-->
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="6" tabindex="11"></textarea><br><br>
            <!--Placeholder to provide consistent spacing-->
            <p id="empty"></p><br>

            
            
            <!--Text for potentital errors all fields are mandatory error. Initially set to ""-->
            <p id="all_fields_error"></p>
        </div>
        <!--Area register and clear for buttons-->
        <div>
            <input id="send" name="Send" type="button" value="Send" tabindex="13">
            <input id="clear" name="clear" type="button" value="Clear" tabindex="15">  
        </div>
        <br><br>
    </form>
    <script src="/scripts/app.js"></script>
</div>