<div class="container">
    <h2>Hello There!</h3>
        <img src="/content/images/FishBowlCharacter.png" alt="Video Game Character (fish in exo suit) named Fish Bowl">
        <br>
        <br>
    <h3> Please check out the rest of my portfolio site!</h3>
    <ul>
        <li><a class="<%= (page == 'about') ? 'active' : ''; %>" href="about">About Page</a></li>
        <li><a class="<%= (page == 'projects') ? 'active' : ''; %>" href="/projects">Projects Page</a></li>
        <li><a class="<%= (page == 'services') ? 'active' : ''; %>" href="/services">Services Page</a></li>
        <li><a class="<%= (page == 'contact') ? 'active' : ''; %>" href="/contact">Contact Page</a></li>
    </ul>
    <br>
    <br>
    <h3>Missions Statement</h3>
    <p>"I'm outgoing and passionately obssessed with video games. My mission is to become part of a game developemnt team to not only to program games, but to bring them to life."</p><br><br><br><br>
</div>
