<div class="container">
    <h1><%= title %></h1>
    <h3>Hello There!</h3>
    <h3> Please check out the rest of my portfolio site!</h3>
    <ul>
        <li><a href="./about.ejs">About Page</a></li>
        <li><a href="./projects.ejs">Projects Page</a></li>
        <li><a href="./services.ejs">Services Page</a></li>
        <li><a href="./contact.ejs">Contact Page</a></li>
    </ul>
</div>