<div class="container">
    <h1><%= title %></h1>
    <h2>Hello There! Please check out the rest of my porfolio site!</h2>
    <a href="./about.ejs">About Page</a>
    <a href="./about.ejs">Projects Page</a>
    <a href="./about.ejs">Services Page</a>
    <a href="./about.ejs">Contact Page</a>
</div>