<div class="container">

    <h2>Time's A Tickin'</h2>
    <img src="/content/images/Time's a Tickin'.png" alt="Time's a Tickin' Video game" width="50%">
    <h2>Description</h2> 
    <p></p>

    <h2>MortiCannon</h2>
    <img src="/content/images/MortiCannon.png" alt="MortiCannon video game" width="50%">
    <h2>Description</h2> 
    </p>

    <h2>Fish Bowl</h2>
    <img src="/content/images/FishBowl.png" alt="FishBowl video game" width="50%">
    <h2>Description</h2> 
    <p></p>
    <br>
    <br>
    <br>
</div>