<div class="container">
    <h2>Services I offer</h2>
    <ul>
        <li>Video Game Programming (Unreal Engine & Unity).<br><img src="/content/images/Game Programming.png" alt="Unity Editor" width="500px"></li><br><br>
        <li>General Programming (C#, C++, Java, HTML, CSS, JavaScript, Oracle SQL & SQL).<br><img src="/content/images/Programming.png" alt="Visual Studio Editor" width="500px"></li><br><br>
        <li>Video game asset creation (Mostly 2D, but I can do 3D).<br><img src="/content/images/Werewolf_SpriteSheet.png" alt="Werewolf Sprite Sheet" width="1000px"></li><br><br>
        <li>Front End Web development.<br><img src="/content/images/Front End Web Development.png" alt="School Project Website (Image Gallery)" width="500px"></li><br><br><br>
    </ul>
</div>