<div class="container">
    <table class="table table-striped table-dark table-bordered container-fluid" style="text-align: center;">
        <tr>
            <th><h2>Services Offered</h2></th>
            <th><h2>Images</h2></th>
        </tr>
        <tr>
            <th><h3>Video Game Programming (Unreal Engine & Unity)</h3></th>
            <th><img src="/content/images/Game Programming.png" alt="Unity Editor" width="500px"></th>
        </tr>
        <tr>
            <th><h3>General Programming (C#, C++, Java, HTML, CSS, JavaScript, Oracle SQL & SQL)</h3></th>
            <th><img src="/content/images/Programming.png" alt="Visual Studio Editor" width="500px"></th>
        </tr>
        <tr>
            <td><h3>Video Game Asset Creation</h3></td>
            <th><img src="/content/images/Werewolf_SpriteSheet.png" alt="Werewolf Sprite Sheet" width="1000px"></th>
        </tr>
        <tr>
            <td><h3>Front End Web Development</h3></td>
            <th><img src="/content/images/Front End Web Development.png" alt="School Project Website (Image Gallery)" width="500px"></th>
        </tr>
    </table>
</div>